<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.jun.mapper.IdCardMapper">
    <resultMap id="roleResultMap" type="idcard" >
        <id property="id" column="id"></id>
        <result property="cardNo" column="card_no"/>
        <association property="idCardType" javaType="com.jun.po.IdCardTypeEntity" column="id" select="com.jun.mapper.IdCardTypeMapper.getById" fetchType="lazy"/>
    </resultMap>


    <select id="getById" resultMap="roleResultMap" parameterType="long">
        select * from t_idcard where id=#{id}
    </select>
    <select id="getByUserId" resultMap="roleResultMap" parameterType="string">
        select * from t_idcard where user_id=#{userId}
    </select>

</mapper>